@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
   --white:hsl(0, 0%, 100%);
   --black:hsl(0, 0%, 0%);
   --dark-gray:hsl(0, 0%, 55%);
   --very-dark:hsl(0, 0%, 41%);
}

*{
padding:0;
margin:0;
box-sizing: border-box;
}

/* Base style */

body{
    font-size: 15px; 
    font-family: 'Alata', sans-serif;
}

ul{
    list-style: none;
    
}

img{
    width:100%;
    height: 100%;
}

a{
    text-decoration: none;
}
/* Header */

header{
    height: 100vh;
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header>.container{
    padding-top:50px;

}

header .flex{
    justify-content: space-between;
}

header .grid{
    height: 100%;
    grid-template-columns:40% 20% 40%;
    grid-template-rows:auto 1fr;
}

header .item-1{
    grid-column:1/span 3;
}

header .menu{
display:none;
}

header .item-2{
    grid-column:1/span 2;
}

header .hero-text{
    align-self: center;
    color:var(--white);
   
    border:2px solid var(--white);
    font-family: 'Josefin Sans', sans-serif;   
    
}


/* header a{
    color: var(--white);
    margin-left:1.5rem;
    
} */



/* Intro loopstudio */
.intro{
    height:600px;
    margin:100px 0;
    
}
.intro .grid{
    grid-template-columns:55% 15% 30%;
    grid-template-rows:30% 70%;
} 

.intro .intro-img{
    grid-area: 1/1/3/3;
    height:100%;
    background-image: url("../images/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro .intro-text{
    grid-area:2/2/3/4;
    background-color: var(--white);
    height: 100%;
}

.intro .intro-text h2{
/* text-align: center; */
/* font-family: 'Josefin Sans', sans-serif;  */
margin-bottom:2rem;
}

.intro .intro-text p{
color:var(--dark-gray);
}

/* Testimonials */
.testimonials{
    margin-bottom:100px;
    height: 1300px;
}
.testimonials .grid{
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows:60px 1fr 1fr;
grid-gap:20px;
}

.testimonials .item-1{
    grid-column:1/span 2;
}

.testimonials .item-2{
    grid-column:3/span 2;
    justify-self: right;
}

.testimonials .button{
    border:2px solid var(--dark-gray);
    color:var(--black);
    padding:2px 20px;
    letter-spacing: 3px;
    transition:all 0.5s ease;
}

.testimonials .button:hover{
    background-color: var(--black);
    color:var(--white);
}

.testimonials .project{
    height: 100%;
    position:relative;
    cursor:pointer;
}

.testimonials .img1{
    background-image: url("../images/desktop/image-deep-earth.jpg");
}

.testimonials .img2{
    background-image: url("../images/desktop/image-night-arcade.jpg");
}

.testimonials .img3{
    background-image: url("../images/desktop/image-soccer-team.jpg");
}

.testimonials .img4{
    background-image: url("../images/desktop/image-grid.jpg");
}

.testimonials .img5{
    background-image: url("../images/desktop/image-from-above.jpg");
}

.testimonials .img6{
    background-image: url("../images/desktop/image-pocket-borealis.jpg");
}

.testimonials .img7{
    background-image: url("../images/desktop/image-curiosity.jpg");
}

.testimonials .img8{
    background-image: url("../images/desktop/image-fisheye.jpg");
}

.testimonials .p-img{
/* border:2px solid red; */
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}

.testimonials .p-title{
    position:absolute;
    top:0;
    left:0;
    padding: 140% 10% 10% 10%;
    width:100%;
    height: 100%;
    font-weight: normal;
    color:white;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.testimonials .p-title:hover{
    background-color: rgba(255, 255, 255,0.7);
    color:black;
}



/* footer */

.footer{
padding:20px 0;
height: 150px;
color:white;
background-color: var(--black);
} 

.footer>.grid{
    justify-content: space-evenly; 
    grid-template-columns: 50% 50%;

    height: 100%;
}

 .footer .navlink{
    margin:0 1.5rem 0 0;
}

.footer nav .flex{
justify-content: flex-start;
}

.footer .item2{
    grid-area:2/1/3/2;
} 

.footer .item3,.item4{
    justify-self: end;
}


.footer .icons>a{
    color:var(--white);
    margin-left:10px;
}

@media(max-width:600px){

   
    header{
        height: 90vh;
        background-image: url("../images/mobile/image-hero.jpg");
        
    }

header nav{
    display:none;
}

    header .grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    header .logo{
        font-size: 2rem;
    }

    header .menu{
        display:inline;
        color:white;
    }

    header .hero-text{
        font-size: 2rem;
    }
    .intro{
        height: 500px;
    }
    .intro .grid{
        grid-template-columns: 1fr;
    }

    .intro .intro-img{
        background-image: url("../images/mobile/image-interactive.jpg");
        grid-area:1/1/2/2;
        height: 100%;
    }

    .intro .intro-text{
        text-align: center;
        grid-area: 2/1/3/2;
        padding:2rem 1rem;
    }

   .testimonials .grid{
       grid-template-columns: 1fr;
       grid-template-rows:auto repeat(8,1fr) auto;
   }
   
.testimonials .item-1{
       grid-column:1/1;
   }

.testimonials .img1{
    background-image: url("../images/mobile/image-deep-earth.jpg");
}

.testimonials .img2{
    background-image: url("../images/mobile/image-night-arcade.jpg");
}

.testimonials .img3{
    background-image: url("../images/mobile/image-soccer-team.jpg");
}

.testimonials .img4{
    background-image: url("../images/mobile/image-grid.jpg");
}

.testimonials .img5{
    background-image: url("../images/mobile/image-from-above.jpg");
}

.testimonials .img6{
    background-image: url("../images/mobile/image-pocket-borealis.jpg");
}

.testimonials .img7{
    background-image: url("../images/mobile/image-curiosity.jpg");
}

.testimonials .img8{
    background-image: url("../images/mobile/image-fisheye.jpg");
}

   .testimonials .item-2{
    grid-column:1/2;
    order:10;
    /* grid-row:10/11; */
    justify-self: center;
   }

   .testimonials .p-title{
       padding:2rem;
   }


   .footer{
       height:400px;
   }

   .footer .flex{
       flex-direction: column;
       justify-items: center;
       align-items: center;
   }
   .footer .grid{
       grid-template-columns: 1fr;
       grid-template-rows:repeat(4,auto);
       /* justify-content: center; */
       /* align-items: cen; */
   }

   .footer .item1{
       justify-self: center;
   }

   .footer .item3{
       justify-self: center;
   }

   .footer .item4{
    justify-self: center;

   }
   .footer .navlink{
       display: inline-block;
       margin: 0.5rem 0;
   }

   
 



   
}