.container{
max-width:1440px;
height:100%;
margin:auto;
padding:0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;

}

.logo{
    /* font-size:2em; */
    color:var(--white);
}

.navlink{
        color: var(--white);
        margin-left:1.5rem;
}
.navlink:hover{
    /* display: inline-block; */
    /* padding-bottom: 2px; */
    border-bottom:2px solid var(--white);
    
    }

/* text-size */

.xxsm{
    font-size: 0.5rem;
}

.xsm{
    font-size: 0.8rem;
}
.sm{
    font-size: 1rem;
}

.md{
    font-size: 2rem;
}
.lg{
   font-size: 3rem;
}
.xl{
    font-size: 4rem;
}

.xxl{
    font-size: 6rem;
}

/* font families */

.fm-1{
    font-family: 'Alata', sans-serif;
}

.fm-2{
    font-family: 'Josefin Sans', sans-serif; 
}

/* colors */

.d-g{
    color:var(--dark-gray);
}

.v-d-g{
    color:var(--very-dark);
}

/* padding */

.py-1{
    padding: 1rem 0;
}

.py-2{
    padding: 1.5rem 0;
}

.py-3{
    padding: 2rem 0;
}

.py-4{
    padding: 3rem 0;
}

.py-5{
    padding: 4rem 0;
}


.p-1{
    padding: 1rem;
}

.p-2{
    padding: 1.5rem;
}

.p-3{
    padding: 2rem;
}

.p-4{
    padding: 3rem;
}

.p-5{
    padding: 4rem;
}
.p-6{
    padding: 5rem;
}
/* margin */


.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}

.my-3{
    margin: 2rem 0;
}

.my-4{
    margin: 3rem 0;
}

.my-5{
    margin: 4rem 0;
}

.mx-1{
    margin: 0 1rem;
}

.mx-2{
    margin: 0 1.5rem ;
}

.mx-3{
    margin: 0 2rem;
}

.mx-4{
    margin: 0 3rem;
}

.mx-5{
    margin: 0 4rem;
}

.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.5rem;
}

.m-3{
    margin: 2rem;
}

.m-4{
    margin: 3rem;
}

.m-5{
    margin: 4rem;
}